<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <%= title %>
    </header>

    <form>
      <label for=""></label><br>
      <input type="text">
      <br>
      <label for=""></label><br>
      <input type="text">
      <br>
    </form>
  </body>
</html>
